body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.converter {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
}
button:hover {
    background-color: #45a049;
}
.dropdowns {
    display: block;

}
select {
    padding: 0.6em;
    font-size: 1em;
    border-radius: 0.2em;
}
#amount {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-bottom: 2px solid;
    background: #f1f1f1;
}
